{% extends "layout.html" %}


{% block head %}
<!-- MDBootstrap Datatables  -->
<link href="{{url_for('static',filename='css/addons/datatables2.min.css')}}" rel="stylesheet">
{% endblock head %}

{% block content %}

<div class="ml-3 p-2 shadowed2" style=" background-color: rgb(245, 245, 245); border-radius: 5px;">
    <!--Table-->
    <table id="tablePreview" class="table table-hover table-responsive-lg table-striped">
        <!--Table head-->
        <thead>
            <tr class="stylish-color-dark text-white ">
                <th>Name <i class="ml-2 fas fa-signature"></i></th>
                <th>Email <i class="ml-2 fas fa-envelope"></i></th>
                <th>Role<i class="ml-2 fas fa-id-badge"></i></th>
                <th>Phone  <i class="ml-2 fas fa-phone"></i></th>
               
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            {% for u in users %}
            <tr>
                <td class="">
                    {{u.name if u.name else ''}} {{u.surname if u.surname else ''}}
                </td>
                <td class="">
                    {{u.email}} 
                </td>
                <td class="">
                    {{u.roles[0]}}
                </td>
                <td class="">
                    {% for n in u.numsTel %}
                    {{n + ' '}}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
</div>
{% endblock content %}


{% block scripts %}
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{{url_for('static',filename='js/addons/datatables2.min.js')}}"></script>

<script>
    $(document).ready(function () {
        $('#tablePreview').DataTable({
            responsive: true,
            
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock scripts %}