{% extends "layout.html" %}


{% block head %}
<!-- MDBootstrap Datatables  -->
<link href="{{url_for('static',filename='css/addons/datatables2.min.css')}}" rel="stylesheet">
{% endblock head %}

{% block content %}

<div class="ml-3 p-2 shadowed2" style=" background-color: rgb(245, 245, 245); border-radius: 5px;">
    <!--Table-->
    <table id="tablePreview" class="table table-hover table-responsive-lg table-striped">
        <!--Table head-->
        <thead>
            <tr  class="stylish-color-dark text-white " > 
                <th>{{LANG[lang].get("Name","Name")}} <i class="ml-2 fas fa-signature"></i></th>
                <th >{{LANG[lang].get("Type","Type")}} <i class="ml-2 fas fa-hand-holding-usd"></i></th>
                <th>{{LANG[lang].get("Company","Company")}} <i class="ml-2 fas fa-building"></i></th>
                <th>{{LANG[lang].get("Status","Status")}} <i class="ml-2 fas fa-compass"></i></th>
                <th>{{LANG[lang].get("Description","Description")}} <i class="ml-2 fas fa-file-alt"></i></th>
                <th>{{LANG[lang].get("Amount","Amount")}} <i class="ml-2 fas fa-coins"></i></th>
                <th>{{LANG[lang].get("Close dat","Close dat")}}. <i class="ml-2 fas fa-calendar-alt"></i></th>
                <th>{{LANG[lang].get("Proba","Proba")}}. <i class="ml-2 fas fa-percent"></i></th>
                <th>{{LANG[lang].get("Agent","Agent")}} <i class="ml-2 fas fa-user"></i></th>
                <th >{{LANG[lang].get("Origin","Origin")}}<i class="ml-2 fas fa-thumbtack"></i></th>

            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            {% for a in affairs %}
            <tr>
                <td class="p-0">
                    <a style="padding: 15px;" href="{{ url_for('affairs.affair',affair_id=a.id) }}">{{a.name}}</a>
                </td>
                <td class="p-0">
                    {% if a.type == 'Sale' %}
                    {% set typeColor = 'text-success'  %}
                    {% else %}
                    {% set typeColor = 'text-info'  %}
                    {% endif %}
                    <a style="padding: 5px; margin: 10px 10px; border-radius: 5px;" class="{{typeColor}}" href="{{ url_for('affairs.affair',affair_id=a.id) }}">
                        {{LANG[lang].get(a.type,a.type)}}
                        {% if a.type == 'Sale' %}
                        <i class="ml-2 fas fa-share"></i>
                        {% else %}
                        <i class="ml-2 fas fa-reply"></i>
                        {% endif %}
                    </a> 
                </td>
                <td class="p-0">
                    <a style="padding: 15px;" href="{{ url_for('affairs.affair',affair_id=a.id) }}">{{ a.company.name }}</a>
                </td>
                <td class="p-0">
                    {% if a.status == 'Waiting' %} 
                    {% set statusColor = 'text-white warning-color'  %}
                    {% elif a.status == 'In Progress' %}
                    {% set statusColor = 'text-white info-color'  %}
                    {% else %}
                    {% set statusColor = 'text-white success-color'  %}
                    {% endif %}
                    <a style="padding: 5px; margin: 10px 10px; border-radius: 5px;" class="{{statusColor}}" href="{{ url_for('affairs.affair',affair_id=a.id) }}">{{LANG[lang].get(a.status,a.status)}}</a>
                </td>
                <td class="p-0"  style="text-overflow: ellipsis; white-space: nowrap;">
                    <a style="padding: 15px;" href="{{ url_for('affairs.affair',affair_id=a.id) }}"> {{a.description}}</a>
                </td>
                
                <td class="p-0 text-right">
                    <p style="padding: 15px; margin: 0px; width: 100%; " href="{{ url_for('affairs.affair',affair_id=a.id) }}">
                        {% if a.amount %}
                        {{a.amount}} DT
                        {% endif %}    
                    </p>
                </td>
                <td class="p-0">
                    <a style="padding: 15px;" href="{{ url_for('affairs.affair',affair_id=a.id) }}">  {{a.close_date_pretty if a.close_date else ''}}</a>
                </td>
                
                <td class="p-0">
                    {% if a.probability %}
                        {% if a.probability >= 75 %}
                        {% set probabilityColor = 'text-white success-color'  %}
                        {% elif a.probability >= 50 %}
                        {% set probabilityColor = 'text-white warning-color'  %}
                        {% else %}
                        {% set probabilityColor = 'text-white danger-color'  %}
                        {% endif %}
                        {% endif %}
                    <p style="padding: 5px 10px; margin: 10px 10px; border-radius: 5px;" class="{{probabilityColor}} text-right" > 
                        {% if a.probability %}
                        {{a.probability}}%
                        {% endif %}
                    </p>
                </td>
                <td class="p-0">
                    <a style="padding: 15px;" href="{{ url_for('affairs.affair',affair_id=a.id) }}"> {{a.responsible_user.name}}</a>
                </td>
                <td class="p-0 ">
                    <a style="padding: 15px 5px; "  href="{{ url_for('affairs.affair',affair_id=a.id) }}">{{a.origin}}</a>
                </td> 
              
            </tr>
            {% endfor %}
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
</div>
{% endblock content %}


{% block scripts %}
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{{url_for('static',filename='js/addons/datatables2.min.js')}}"></script>

<script>
    $(document).ready(function () {
        $('#tablePreview').DataTable({ responsive: true });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock scripts %}